.dashboard-container {
    display: flex;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.dashboard-content {
    flex-grow: 1;
    padding: 1.25rem 1.5rem;
    z-index: 1;
    transition: margin-left 0.3s ease;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

.dashboard-content.collapsed {
    margin-left: 100px;
    transition: margin-left 0.3s ease;
}

.welcome-card {
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.welcome-card:hover {
    box-shadow: 0 6px 18px rgba(85, 101, 228, 0.25), 0 2px 6px rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
}

.welcome-title {
    font-size: 2rem;
    font-weight: bold;
    color: #8565e4;
    margin-bottom: 0.5rem;
}

.welcome-subtitle {
    font-size: 1.125rem;
    color: #000000;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    flex: 1;
    min-width: 220px;
    padding: 1.25rem;
    margin: 15px 5px;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    background-color: #ffffff;
}

.card:hover {
    transform: translateY(-4px);
}

.card-title {
    font-size: 1.25rem;
    color: #a78bfa;
    margin-bottom: 0.75rem;
}

.dashboard-footer {
    background-color: #f3f4f6;
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #6b7280;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-top: 1px solid #e5e7eb;

}

.task-chart-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    right: 0;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .dashboard-content {
        margin-left: 100px;
        padding: 1rem;
    }

    .dashboard-cards {
        flex-direction: column;
    }

    .task-chart-container {
        width: 100% !important;
    }
}